body{
    background-image: url("../img/img1.jpg");
}
.list {
    width: 715px;
    height: 583px;
    position: relative;
    margin: 18px auto;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 5px 0px #827d7d;
}

/* укладка красной вертикальной линии */
 .list::before{
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 36px;
    background-color: rgba(255,0,0,0.6);
}

/* моделирование синих горизонтальных линий */
.row {
    height: 100%;
    background-image: repeating-linear-gradient(#f7f5f5 0px, #f9f8f8 24px, #107b7b 25px);
}

/* стилизация текста */
.content {
    padding-top: 6px;
    padding-left: 56px;
    padding-right: 16px;
    line-height: 25px;
    font-family: 'Dancing Script', cursive;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

h1{
    text-align: center;
}