@font-face {
    font-family: 'Lato';
    font-weight: normal;
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: 'Poppins-Medium';
    font-weight: normal;
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: 'Poppins-Regular';
    font-weight: normal;
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'Poppins-SemiBold';
    font-weight: bold;
    src: url("../fonts/Poppins-SemiBold.ttf");
}

body{
    font-family: 'Noto Sans', sans-serif;
    margin:0;
    width:100%;
    height:100vh;
    background:#ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    max-width: 100%;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 12px;
    font-family:'Poppins-SemiBold';
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid white;
    height: 46px;
    width: 155px;
    color: #ffffff;
}
.btn:hover {
    background: #85af4b;
}

.title {
    font-family: 'Poppins-Medium';
    font-weight: normal;
    font-size: 36px
}

.text {
    font-family: 'Poppins-Regular';
    font-size: 14px;
}

.header {
    background: #095dc7;
    width: 100%;
}

.header_container {
    height: 45px;
}

.header_media_icons {
    height: 100%;
    margin-left: -15px;
}

.header_media_icons a {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 100%;
    width: 30px;
    fill: #85af4b;
}

.header_media_icons svg{
    fill: white;
    height: 11px;
    margin: auto 0;
}

.header_communication_icons {
    display: flex;
}

.header_communication_icons_mail {
    display: flex;
}

.header_communication_icons_mail a {
    display: inline-block;
}

/*.header_contacts_mail {
    display: inline-block;
    line-height: 39px;
    padding-left: 30px;
    color: white;
}*/

.header_contacts_mail svg{
    width: 10px;
    height: 100%;
    margin-right: 10px;
}

.header_communication_icons_phone {
    display: flex;
    margin-left: 30px;
}

.header_logo_mail_img {
    display: flex;
    align-items: center;
}

.header_logo_phone_img {
    display: flex;
    align-items: center;
}

.header_logo_phone_img svg{
    width: 12px;
    fill: white;
}

.header_logo_mail_img svg{
    width: 12px;
    fill: white;
}

.header_communication_icons p {
    font-family: 'Lato';
    font-size: 13px;
    color: #ffffff;
    margin-left: 10px;
}

.header_communication_icons a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.header_navbar {
    height: 90px;
    margin: 0 auto;
    background-color: white;
    width: 100%;
    z-index: 1;
}

.header_navbar_menu  {
    display: flex;
}

.header_navbar_list {
    display: flex;
    font-size: 12px;
    font-family:'Poppins-Medium';
    text-transform: uppercase;
    list-style-type:  none;
}

.header_navbar_list li {
    margin-left: 38px;
}

.header_navbar_list a{
    text-decoration: none;
    color: #012c44;
    display: inline-block;
    padding: 10px 0;
}

.navbar_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {

    .header_navbar_menu_icon {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .header_navbar_menu {
        display: none;
    }

    .header_navbar_menu.active{
        position: absolute;
        width: 100%;
        top: 105px;
        left: 0;
        display: block;
        background-color: white;
        margin: 0 auto;
        height: auto;
    }

    .header_navbar_list {
        display: block;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .header_navbar_list li{
        border-top: 1px solid darkgray;
        border-bottom: 1px solid darkgray;
        margin: -1px 0 0 0;
    }

    .header_navbar_list li:hover{
        background-color: #727272;
    }

    .header_navbar_menu_icon span {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        z-index: 2;
    }
    .header_navbar_menu_icon:before,
    .header_navbar_menu_icon:after{
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        z-index: 2;
    }
    .header_navbar_menu_icon:before{
        top: 0;
    }
    .header_navbar_menu_icon:after{
        bottom: 0;
    }
    .header_navbar_menu_icon.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_navbar_menu_icon.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_navbar_menu_icon.active span{
        transform: scale(0);
    }


}


.grow_business_block {
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    max-width: 100%;
    padding:135px 0 0 15px;

}

.grow_business_container {
    max-width: 100%;
    padding: 0 0 0 0;
}

.grow_business_content {
    padding-left: calc((100% - 1170px) / 2);
    height: 100%;
    margin-top: calc(10% + 14px);
}

.grow_business_body {
    max-width: 600px;
    height: 100%;
}

.grow_business_title {
    font-size: calc(3vw + 13px);
    color: #ffffff;
    letter-spacing: -0.5px;
    margin: 0 0 35px 0;
    line-height: 1;

}

.grow_business_text {
    color: #ffffff;
    margin: 0 0 43px 0;
    line-height: 1.8;
    font-size: 16px;
}

.grow_business_btn {
    border: 2px solid white;
    margin: 0 28px 0 0;
    color: #ffffff;
}

.grow_business_people {
    width: 945px;
    padding-bottom: calc(45% - 3px);
    position: relative;

}

.grow_business_people_img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: calc(20% - 5px) 100%;
    position: absolute;
    left: 0px;
    bottom: 0;

}

.best_figures_block {
    margin: 0 auto;
    background: #f0f2f4;


}


.best_figures_row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 616px;

}

.best_figures_img {
    max-width: 100%;
    height: 100%;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
}

.best_figures_img img {
    object-fit: cover;
    max-width: 100%;
    margin: 82px 0 0 100px;
}

.column_content {
    padding-right: calc((100% - 1185px) / 2);
}

.best_figures_content {
    padding:0 15px 0 12px;

}

.bast_figures_text {
    letter-spacing: -0.1px;
    margin: 0 0 35px 0;
    line-height: 28px;
}

.best_figures_column{
    width: 50%;
    box-sizing: border-box;
}


.best_figures_btn {
    color: #095dc7;
    background: #e6e6e6;
    border: none;
}

.best_figures_row_widget{
    width: 100%;
    border-top: 1px solid #e6e6e6;

}

.best_figures_widget {
    width: 25%;
    text-align: center;
    padding: 95px 0;
}

.best_figures_widget_count {
    font-size: 48px;
    font-family: 'Poppins-Medium';
}

.best_figures_widget_name {
    font-family: 'Poppins-Medium';
    font-size: 14px;
    color: #727272;
}

.latest_project_block {
    margin: 0 auto;
}

.latest_project_container {
    justify-content: center;
    flex-direction: column;
}

.latest_project_title {
    width: 100%;
    margin: 90px 0 25px 0;
    font-size: 36px;
    text-align: center;
}

.latest_project_gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 78px -15px;
}

.latest_project_img {
    width: 33.333%;
    padding: 15px;
    box-sizing: border-box;
}

.latest_project_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.compatible_devices_block {
    background-size: cover;
    width: 100%;
    margin: 0 auto;
}

.compatible_devices_container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.compatible_devices_title {
    color: white;
    margin: 121px 0 25px 0;
}

.compatible_devices_text {
    max-width: 710px;
    text-align: center;
    letter-spacing: -0.2px;
    line-height: 28px;
    color: white;
    margin: 2px 0;
}

.compatible_devices_btn {
    width: 200px;
    font-size: 14px;
    margin: 44px 0 124px 0;
}

.meet_team_block {
    margin: 0 auto;
}

.meet_team_container {
    justify-content: center;
    flex-direction: column;
}

.meet_team_title {
    text-align: center;
    margin: 86px 0 40px 0;
}

.meet_team_content {
    display: flex;
    margin: 0 -15px 95px -15px;
    justify-content: center;
}

.meet_team_workers {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.meet_team_workers_card {
    flex: 0 1 25%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 0 30px 0;
}

.meet_team_workers_card_item {
    width: 100%;
    height: 100%;
}

.meet_team_workers_avatar {
    width: 100%;
    height: 330px;
}

.meet_team_workers_avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.meet_team_workers_name {
    font-size: 18px;
    margin: 15px 0 9px 0;
}

.meet_team_workers_position {
    font-size: 12px;
    color: #a0a0a0;
    margin:  0 0 18px 0;
}

.meet_team_workers_about {
    font-size: 14px;
    color: #666666;
    line-height: 27px;
    margin: 0 0 20px 0;
}

.meet_team_workers_links a {
    margin-right: 12px;
}

.footer_labels {
    height: 214px;
    background: #f8f8f8;
}

.footer_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footer_menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.footer_navbar {
    height: 80px;
    background: #001b3d;
    position: relative;
}

.footer_menu_list{
    display: flex;
    font-size: 12px;
    font-family:'Poppins-Medium';
    text-transform: uppercase;
    list-style-type:  none;
}

.footer_menu_list li {
    margin-left: 30px;
    box-sizing: border-box;
}

.footer_menu_list  a{
    color: #999999;
    text-decoration: none;
    padding: 10px 0;
    display: inline-block;
}

.footer_menu li a:hover{
    color: #ffffff;
}

@media (max-width: 768px) {

    .footer_menu_icon {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .footer_menu {
        display: none;
    }

    .footer_menu.active{
        position: absolute;
        width: 100%;
        bottom: 80px;
        left: 0;
        display: block;
        background-color: white;
        margin: 0 auto;
        height: auto;
    }

    .footer_menu_list {
        display: block;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 12px;
        color: black;
    }

    .footer_menu_list li{
        border-top: 1px solid darkgray;
        border-bottom: 1px solid darkgray;
        margin: -1px 0 0 0;
    }

    .footer_menu_list a {
        color: black;
    }

    .footer_menu_list li:hover{
        background-color: #727272;
    }

    .footer_menu_icon span {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        z-index: 2;
    }
    .footer_menu_icon:before,
    .footer_menu_icon:after{
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        z-index: 2;
    }
    .footer_menu_icon:before{
        top: 0;
    }
    .footer_menu_icon:after{
        bottom: 0;
    }
    .footer_menu_icon.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .footer_menu_icon.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .footer_menu_icon.active span{
        transform: scale(0);
    }


}

.about_creation {
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    font-family:'Poppins-Medium';
    text-transform: uppercase;
    width: 100%;
}

.about_creation p{
    margin: auto 0;
}


@media (max-width: 1200px) {
    .meet_team_workers_avatar {position: relative; padding: 0 0 100% 0; height: auto; width: 100%}
    .meet_team_workers_avatar img {position: absolute; top: 0; left: 0; }
    .best_figures_title {font-size: calc(2vw + 5px);}
    .best_figures_row {height: 400px;}
    .grow_business_title {font-size: calc(3vw + 15px); }
    .grow_business_people {width: 80%}
    .grow_business_text {font-size: calc(1vw + 5px); margin: 15px 0 15px 0;}
}



@media (max-width: 992px) {
    .meet_team_workers_card {flex: 0 1 50%;}
    .meet_team_workers_avatar {width: 100%;}
    .best_figures_title {font-size: calc(2vw + 10px);}
    .grow_business_btn {margin: 0 15px 30px 0;}
    .grow_business_people {width: 85%}
    .grow_business_text {font-size: calc(1vw + 1); margin: 20px 0 20px 0;}
    .grow_business_block {padding:50px 0 0 15px}
    .grow_business_title {margin: 0 0 15px 0;}
}

@media (max-width: 768px) {
    .header {position: fixed; z-index: 1;}
    .footer_menu {display: none;}
    .grow_business_block {flex-direction: column; padding-top: 105px;}
    .grow_business_content{margin: 0 auto; text-align: center; width: 80%}
    .grow_business_title {margin-top: 40px;}
    .grow_business_people {width: 100%;}
    .grow_business_people_img {background-size: 70%; background-position: center center;}
    .grow_business_btn {margin: 15px 10px;}
    .latest_project_img {width: 50%;}
    .footer_labels {height: auto; padding: 30px 0;}
    .footer_labels_img {width: 12%; padding: 0 10px; box-sizing: border-box; }
    .footer_labels_img img { object-fit: cover; width: 100%;}
    .best_figures_row {flex-direction: column; width: 100%; height: auto;}
    .best_figures_column {width: 100%;}
    .best_figures_content {text-align: center; max-width: 500px; margin: 0 auto;}
    .best_figures_img {margin: 0 auto; width: 80%}
    .best_figures_img img {margin: 0 0;}
    .best_figures_btn {margin-bottom: 30px;}
    .best_figures_widget_count {font-size: calc(4vw + 5px);}
    .best_figures_widget_name {font-size: calc(2vw + 5px);}
    .best_figures_container {flex-wrap: wrap;}
    .best_figures_widget {width: 50%;}
    .header_navbar {height: 60px;}
}

@media (max-width: 556px) {
    .header_media_icons {display: none;}
    .header_media_icons.active{position: fixed; top: 234px;
        width: 100%; background-color: white; display: inline-flex; height: 33px; justify-content: center; border-bottom: 1px solid darkgray; }
    .header_media_icons svg{fill: #095dc7;}
    .header_communication_icons_mail {display: flex;}
    .header_logo_phone_img {position: absolute;  top: 19px;  width: 22px;}
    .header_logo_phone_img svg {position: fixed; fill: #095dc7; z-index: 3; top: 20px; right: 65px; width: 20px;}
    .header_logo_mail_img {position: absolute;  top: 19px;  width: 22px; height: 0;}
    .header_logo_mail_img svg {position: fixed; fill: #095dc7; z-index: 3; top: 18px; right: 95px; width: 24px;}
    .header_navbar_menu.active {top: 60px;}
    .grow_business_block {padding-top: 60px;}
    .grow_business_title {font-size: calc(3vw + 20px);}
    .latest_project_img {width: 100%;}
    .meet_team_workers_card {flex: 0 1 100%;}
    .header_communication_icons p {display: none;}
    .compatible_devices_title {font-size: 26px; text-align: center;}
    .footer_labels_img {width: 18%;}
    .best_figures_img {width: 100%;}
    .best_figures_widget {padding: 65px 0;}
    .best_figures_widget_count {font-size: calc(4vw + 7px);}
    .best_figures_widget_name {font-size: calc(2vw + 7px);}
    .header_container {position: absolute; top: 0px; z-index: 3; }
    .header_navbar {position: fixed;}
}