<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-store">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css.css>"/>
    <link rel="stylesheet" href="css/styles.css>"/>
</head>
<body>
<div class="container">
    <div class="header">Lorem Ipsum</div>
    <div class="sidebar">
        <p><a href="">Home</a></p>
        <p><a href="">About</a></p>
        <p><a href="">Contact</a></p>
    </div>
    <div class="content">
        <h2>Finibus Bonorum et Malorum</h2>
        <ul>
            <li>Itaque earum rerum hic tenetur</li>
            <li>Quis autem vel eum iure reprehenderit</li>
            <li>Lorem ipsum dolor sit amet, quia voluptas sit</li>
            <li>Ut enim ad minima veniam, quis nostrum exercitationem</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate</li>
            <li>Excepteur sint occaecat cupidatat non proident</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate</li>
            <li>Nemo enim ipsam voluptatem</li>
            <li>At vero eos et accusamus et iusto</li>
            <li>Excepteur sint occaecat cupidatat non proident, qui blanditiis</li>
        </ul>
    </div>
    <div class="footer">&copy Petr Pupkin</div>
</div>
</body>
</html>